.root {
    -fx-font-family: 'Helvetica Neue';
    -fx-font-style: normal;
    -fx-font-size: 18px;
    -fx-font-weight: lighter;
}

.table-column{
    -fx-text-alignment: left;
    -fx-alignment: baseline-left;
}

.registration-block > .text-area {
    -fx-border-width: 2px;
    -fx-border-color: #708090;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: bisque;
}
.text-area > .text-name {
    -fx-text-alignment: center;
}


.anchor-block {
    -fx-background-color: #ADD8E6;
}

.lstatus-person,
.delete-person {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-alignment: baseline-center;
    -fx-border-color: none;
    -fx-background-color: none;
}

.delete-person {
    -fx-background-image: url("../../image/trash.png");
}

.delete-person:hover {
    -fx-background-image: url("../../image/trash-hover.png");
}

.lstatus-person-active {
    -fx-background-image: url("../../image/pause.png");
}

.lstatus-person-active:hover {
    -fx-background-image: url("../../image/pause-hover.png");
}

.lstatus-person-disactive {
    -fx-background-image: url("../../image/play.png");
}

.lstatus-person-disactive:hover {
    -fx-background-image: url("../../image/play-hover.png");
}

.column-header-background .text {
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
}

.box-button {
    -fx-padding: 0;
    -fx-alignment: center;
}
.button-up,
.button-down {
    -fx-min-width: 30px;
    -fx-min-height: 20px;
    -fx-pref-height: 20px;
    -fx-pref-width: 30px;
    -fx-alignment: baseline-center;
    -fx-padding: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.play-button {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-alignment: baseline-center;
    -fx-padding: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.play-active {
    -fx-background-image: url("../../image/play.png");
}

.play-disactive {
    -fx-background-image: url("../../image/pause.png");
}

.button-up {
    -fx-background-image: url("../../image/up.png");
}

.button-down {
    -fx-background-image: url("../../image/down.png");
}