.root {
    -fx-font-family: 'Helvetica Neue';
    -fx-font-style: normal;
    -fx-font-size: 16px;
    -fx-font-weight: lighter;
}

.table-column{
    -fx-text-alignment: left;
    -fx-alignment: baseline-left;
}

.registration-block > .text-area {
    -fx-border-width: 2px;
    -fx-border-color: #708090;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    /*-fx-background-color: bisque;*/
}
.text-area > .text-name {
    -fx-text-alignment: center;
}


.anchor-block {
    -fx-background-color: #ADD8E6;
}
/*      Icon style      */
.icon {
    -fx-font-family: FontAwesome;
    -fx-fill: #1aa4e6;
    -fx-font-size:1.3em;
    -fx-padding: 0;
}

.icon:hover {
    -fx-fill: #4059A9;
}

.button-up,
.button-down {
    -fx-padding: 0;
    -fx-pref-height: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}
.button-up {
    -fx-alignment: top-center;
}

.button-down {
    -fx-alignment: bottom-center;
}
.status-play:disabled .icon,
.delete:disabled .icon,
.status-pause:disabled .icon,
.button-up:disabled .icon,
.button-down:disabled .icon {
    -fx-fill: slategrey;
}

.status-play {
    -fx-fill: orange;
}

.status-play:hover {
    -fx-fill: darkorange;
}

.delete {
    -fx-fill: #ff4e76;
}

.delete:hover {
    -fx-fill: darkred;
}

.jfx-text-field {
    -fx-prompt-text-fill: transparent;
    -jfx-unfocus-color: transparent;
}

.jfx-text-field:focused {
    -jfx-focus-color: #4059A9;
    -fx-prompt-text-fill: derive(white, 20%);
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
}
.stop-time,
.pause-time,
.play-time {
    -fx-font-size:3em;
}

.pause-time{
    -fx-fill: orange;
}

.pause-time:hover {
    -fx-fill: darkorange;
}

.play-button {
    -fx-background-color: transparent;
}
/****************************
*                           *
*        QueueRow           *
*                           *
****************************/

/*    Table column         */

.table-view .table-cell {
    -fx-pref-height: 40px;
    -fx-max-height: 40px;
    -fx-min-height: 40px;
    -fx-padding: 0;
}

.text-field {
    -fx-background-color: transparent;
    -fx-indent: 20px;
}